.left {
    float: left;
    margin-left: 30px;
    margin-right: : 30px;
    width: 45%;
    display:inline-block ;
}
.width_max{
    display: inline-block;
    font-size: 1.8em;
    width: 100%;
}
.books{
    font-size: 1.3em;
}
.alone {
    width: 100%;
}
body {
    background-image: url("../img/wood-pattern-texture-235994.jpg");
    margin: 60px auto;
    width: 85%;
}
.body {
    background:rgba(255,255,255,0.6);
    padding: 15px;
    border-radius: 20px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.nav{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 30px;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
}
.nav li{
    display: inline;
    width: auto;
    margin-right: 20px;
    text-decoration: underline;
}
nav ul {
    float: right;
}
.uvod p a{
    text-decoration: underline;
}
.left ul li{
    font-size: 1.3em;
    font-family:'Sans-Serif';
}
.meno{
    position: relative;
    top:10px;
    left:15px;
    display: inline;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    font-size: 1.4em;
}
nav ul li, footer ul li{
    display: inline;
    width: auto;
    margin-right: 20px;
}

.header, .footer {
    background:rgba(205,205,205,0.6);
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
}
.block {
    display: block;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.books li {
    list-style: none;
}
ul.posts li {
    list-style: none;
}
.container{
    display:inline-block;
    width: 100%
}